@import 'styles/theme.scss';

.paper {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: $shadow-5;
}

.gridItem {
    margin: 1.2rem;
    height: auto;
}

.paperDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionThreeBTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paper3 {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-shadow: $shadow-5;
}
