.fullHeight {
    height: 8rem;
}

.squashedHeight {
    height: 5rem;
}

.transition {
    transition: all 0.5s ease;
}

.backgroundColor {
    background-color: rgba(22, 22, 22, 1.0);
}

.drawerPaper {
    width: 100%;
    background-color: rgba(23, 23, 23, 0.95);
}
