.fullHeight {
    height: 4rem;
}

.squashedHeight {
    height: 3rem;
}

.transition {
    transition: all 0.5s ease;
}

.backgroundColor {
    background-color: rgba(22, 22, 22, 1.0);
}

.drawerPaper {
    width: 100%;
}
