@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-image-gallery/styles/css/image-gallery.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

.text-fonts {
    font-family: 'Bebas Neue', cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    /* box-sizing: border-box; */
}

.image-gallery {
    width: 30%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
